#bloc_page
{
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
hr
{
	border-color: rgb(0,51,102);
}
body
{
	text-align: center;
	/*font-family: "Times New Roman", Times, serif;
	background-image: url(img/AP.png);*/
	background-size: 100% 750px;
	background-repeat: no-repeat;
	background-color: white;
	margin-left: 0px;
	margin-right: 0px;
}
.carousel-inner
{
  height: 750px;
}
.carousel-inner h5
{
  margin-top: -300px;
  color: rgb(255, 187, 57);
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}
.texte
{
	font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 145, 113);
	margin-top: -450px;
	font-size: 2em;
  position: relative;
}
.rectangle
{
	height: 75px;
	background-color: rgb(0,51,102);
	margin-top: 285px;
  position: relative;
	max-width: 100%;
}
.photo
{
	height: 350px;
	width: 350px;
	border-radius: 100%;
	border-style: solid;
	border-width: 15px;
	position: relative;
	margin-top: -210px;
	border-color: rgb(0,51,102);
  z-index: 20;
}
.bienvenue
{
	font-family: "Palatino";
	font-weight: bold;
	color: black;
	margin-top: 50px;
}
article hr
{
	margin-top: 80px;
	margin-bottom: 80px;
	width: 33%;
  color: rgb(0,51,102);
}
article
{
	margin: 4em 8em 4em;
}
article h2
{
	color: rgb(0,51,102);
	font-size: 2em;
}
.etude
{
	margin: auto;
	display: flex;
	justify-content: space-between;
	vertical-align: bottom;
}
.fo
{
	color: rgb(0,51,102);
	font-weight: bold;
  position: relative;
  top: 200px;
	text-decoration: none;
}
.master
{
	background-image: url(img/graduationday.jpg);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: white;
}
.master:hover
{
	box-shadow: 0 0 20px black;
  text-decoration: none;
}
.bachelier
{
	background-image: url(img/chimie4.jpg);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: white;
}
.bachelier:hover
{
	box-shadow: 0 0 20px black;
}
.secondaire
{
	background-image: url(img/secondaire.jpg);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: white;
}
.secondaire:hover
{
	box-shadow: 0 0 20px black;
}
.boulot
{
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.boulot2
{
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5em;
}
.fo1
{
	position: relative;
	top: 200px;
	font-weight: bold;
}
a:any-link:hover
{
  text-decoration: none;
}
{
  text-decoration: none;
}
.easi
{
	background-image: url(img/easi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
	height: 200px;
	width: 200px;
	color: rgb(0,51,102);
	display: block;
}
.easi:hover
{
	box-shadow: 0 0 20px black;
}
.cat
{
	background-image: url(img/cat.jpg);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: rgb(0,51,102);
	display: block;
}
.cat:hover
{
	box-shadow: 0 0 20px black;
}
.colruyt
{
	background-image: url(img/colruyt.jpg);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: rgb(0,51,102);
	display: block;
}
.colruyt:hover
{
	box-shadow: 0 0 20px black;
}
.dawn
{
	background-image: url(img/dawn.jpg);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: rgb(0,51,102);
	display: block;
}
.dawn:hover
{
	box-shadow: 0 0 20px black;
}
.badl
{
	background-image: url(img/badl.jpg);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: rgb(0,51,102);
	display: block;
}
.badl:hover
{
	box-shadow: 0 0 20px black;
}
/*.compétences
{
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5em;
}
.html
{
	background-image: url(img/html.png);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: rgb(0,51,102);
	display: block;
}
.css
{
	background-image: url(img/css.png);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: rgb(0,51,102);
	display: block;
}
.git
{
	background-image: url(img/git.png);
  background-position: center;
  background-repeat: no-repeat;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	color: rgb(0,51,102);
	display: block;
}*/
.links a
{
	display: inline-block;
	margin: 1em 0.3em 0;
	color: rgb(0,51,102);
	margin-bottom: 2em;
}
