#bloc_page
{
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
hr
{
	border-color: rgb(0,51,102);
}
body
{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	background-image: url(img/AP.png);
	background-size: 100% 750px;
	background-repeat: no-repeat;
	background-color: white;
	margin-left: 0px;
	margin-right: 0px;
}
.texte
{
	font-style: bold;
	color: white;
	margin-top: 250px;
	font-size: 2em;
}
.rectangle
{
	height: 75px;
	background-color: rgb(0,51,102);
	margin-top: 285px;
	max-width: 100%;
}
.photo
{
	height: 350px;
	width: 350px;
	border-radius: 100%;
	border-style: solid;
	border-width: 15px;
	position: relative;
	margin-top: -210px;
	border-color: rgb(0,51,102);
}
.bienvenue
{
	font-family: "Palatino";
	font-weight: bold;
	color: black;
	margin-top: 50px;
}
article hr
{
	margin-top: 80px;
	margin-bottom: 80px;
	width: 33%;
}
article
{
	margin: 4em 8em 4em;
}
article h2
{
	color: rgb(0,51,102);
	font-size: 2em;
}
.etude
{
	margin: auto;
	display: flex;
	justify-content: space-between;
	vertical-align: bottom;
}
.fo
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.master
{
	background-image: url(img/graduationday.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
}
.master:hover
{
	box-shadow: 0 0 20px black;
}
.bachelier
{
	background-image: url(img/chimie4.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
}
.bachelier:hover
{
	box-shadow: 0 0 20px black;
}
.secondaire
{
	background-image: url(img/secondaire.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
}
.secondaire:hover
{
	box-shadow: 0 0 20px black;
}
.boulot
{
	margin: auto;
	display: flex;
	justify-content: center;
}
.boulot2
{
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5em;
}
.fo1
{
	position: relative;
	top: 11.5em;
	font-weight: bold;
}
.cat
{
	background-image: url(img/cat.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
	display: block;
}
.cat:hover
{
	box-shadow: 0 0 20px black;
}
.colruyt	
{
	background-image: url(img/colruyt.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
	display: block;
}
.colruyt:hover
{
	box-shadow: 0 0 20px black;
}
.dawn
{
	background-image: url(img/dawn.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
	display: block;
}
.dawn:hover
{
	box-shadow: 0 0 20px black;
}
.badl
{
	background-image: url(img/badl.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
	display: block;
}
.badl:hover
{
	box-shadow: 0 0 20px black;
}
.links a
{
	display: inline-block;
	margin: 1em 0.3em 0;
	color: rgb(0,51,102);
	margin-bottom: 2em;
}