#bloc_page
{
	margin: auto;
}
body
{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	background-image: url(img/AP.png);
	background-size: cover;
}
header
{
	display: flex;
}
.photoetnom
{
	flex-grow: 1;
	margin-top: 2em;
}
.photojulien
{
	position: relative;
	float: left;
	border: solid;
}
header h1
{
	color: white;
}
.belgique
{
	height: 22px;
	width: 30px;
	border-radius: 5px;
}
header h2
{
	color: white;
}
.description
{
	flex-grow: 1;
	margin-top: 5em;
    border: solid;
    color: white;
    border-radius: 25px;
}
.la
{
	border-radius: 5px;
	height: 22px;
	width: 30px;
	margin: 0em 0em 0em 0.3em;
}
.competence
{
	flex-grow: 1;
	color: white;
	margin-top: 2em;
}
.co
{
	height: 50px;
	width: 60px;
	margin: 0em 0em 0em 0.5em;
}
article
{
	margin: 4em 8em 4em;
}
article h2
{
	color: white;
}
.etude
{
	display: flex;
	justify-content: space-between;
	vertical-align: bottom;
}
.master
{
	background-image: url(img/graduationday.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
}
.fo
{
	color: white;
	font-weight: bold;
}
.fo1
{
	position: relative;
	top: 11.5em;
	font-weight: bold;
}
.bachelier
{
	background-image: url(img/chimie4.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
}
.secondaire
{
	background-image: url(img/secondaire.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
}
.boulot
{
	display: flex;
	justify-content: space-between;
}
.colruyt	
{
	background-image: url(img/colruyt.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
}
.dawn
{
	background-image: url(img/dawn.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
}
.badl
{
	background-image: url(img/badl.jpg);
	border-radius: 5px;
	height: 200px;
	width: 300px;
	color: white;
}
.links a
{
	display: inline-block;
	margin: 1em 0.3em 0;
	color: white;
	margin-bottom: 2em;
}